pipeline/LT_FINAL_BLOB_SNOW.json
{
	"name": "LT_FINAL_BLOB_SNOW",
	"properties": {
		"activities": [
			{
				"name": "L0_MappingLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "Sf_customer_data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "RAW_L0_DATA_COPY",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "L0_MappingLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('L0_MappingLookup').output.value)",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "BLOB_TO_SNOW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SnowflakeSink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@json(item().columnmapping)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "lt_blob_report",
									"type": "DatasetReference",
									"parameters": {
										"sourcefilename": "@item().sourcefilename"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink_snow",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "@item().tablename"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "L1_Data_Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_L0_DATA_COPY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "select * from STAGE_DATA.s_stage.layer_mapping_table\nWhere layer_id = 'L1';",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "L1_L2_blob_snow",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "L1_ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "L1_Data_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('L1_Data_Lookup').output.value)",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "L1_Script",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "Snowflake_public_poc",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@item().SQL_QUERY",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "L2_Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "L1_ForEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "select * from STAGE_DATA.s_stage.layer_mapping_table\nWhere layer_id = 'L2';",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "L1_L2_blob_snow",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "agg_L2_ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "L2_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('L2_Lookup').output.value)",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "L2_Script",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "Snowflake_public_poc",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@item.SQL_QUERY",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-05-31T09:49:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}